/* Hero Section */
.about-hero-section {
  background-image: url('/src/assets/beautiful-paradise-island-with-beach-sea.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 1;}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
 position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 12px;
  color: white;
}

/* Content Section */
.about-content-section {
  background-color: #fff;
  padding: 80px 20px;
  font-family: 'Poppins', sans-serif;
}

.about-content-section h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  border-left: 4px solid #28a745;
  padding-left: 12px;
}

.about-content-section p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 25px;
}
