/* ParallaxPage.css */

.hover-zoom {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  max-height: 300px; /* medium image height */
  object-fit: cover;
  width: 80%;
  border-radius: 50px;
}

.hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.hover-zoom:active {
  transform: scale(0.95);
}
.hover-zoom:focus {
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.hover-zoom:focus:hover {
  transform: scale(1.05);
}
